body{
    background-color: black;
    
}
.post{
    justify-content: center;
    background-color: white;
    padding-bottom: 20px;
    margin: auto;
    width: 30%;
    
}
.foto{
    width: 100%;
}
.headerpost{
    padding: 6px;
    display: flex;
}
.logo{
    font-size: 40px;
    padding: 6px;
}
.letras{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 6px;
    width: 90%;
}
.dots{
    margin-right: 10px;
    justify-content: right;
    font-size: 50px;
}
.footer-icons{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.left-icons{
    margin: 6px;
    font-size: 40px;
    padding: 4px;
}
.footer-lefticons{
    width: 90%;
}
.footer-rigthicons{
    justify-content: right;
    font-size: 40px;
    width: 10%;
}
.footer-likes{
    margin-left: 8px;
    padding: 4px;
}
.footer-texto{
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    padding: 4px;
    text-align:left;
}